<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link"
             [ngClass]="{'active': activeNavItem === 0}"
             (click)="setActiveNavItem(0)"
              aria-current="page" [routerLink]="['/']"
              routerLinkActive="router-link-active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            [ngClass]="{'active': activeNavItem === 1}"
            (click)="setActiveNavItem(1)"
            href="#">Thông báo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"
            [ngClass]="{'active': activeNavItem === 2}"
            (click)="setActiveNavItem(2)"
            [routerLink]="['/orders']" routerLinkActive="router-link-active"><i
                class="fa-solid fa-cart-shopping">Giỏ hàng</i></a>
          </li>
          <li class="nav-item">
            <ng-container *ngIf="userResponse">
              <ng-container ngbPopover="Tài khoản của tôi <br>Đơn mua<br>Đăng xuất" popoverTitle="User Actions"
                triggers="click" [placement]="'bottom'">
                <a class="nav-link" [routerLink]="['/profile']" [ngbPopover]="popoverContent" (click)="togglePopover($event)">{{userResponse.fullname}}</a>
                <ng-template #popoverContent>
                  <div class="popover-list">
                    <a href="#" class="popover-item" (click)="handelItemClick(0)">Tài khoản của tôi</a>
                    <a href="#" class="popover-item" (click)="handelItemClick(1)">Đơn mua</a>
                    <a href="#" class="popover-item" (click)="handelItemClick(2)">Đăng xuất</a>
                  </div>
                </ng-template>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!userResponse">
              <a class="nav-link" 
              routerLinkActive="router-link-active"
              [ngClass]="{'active': activeNavItem === 4}"
              (click)="setActiveNavItem(4)"
               [routerLink]="['/login']"
                routerLinkActive="router-link-active" tabindex="-1" aria-disabled="true">Đăng nhập</a>
            </ng-container>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
</header>