
<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Đây là home</h1>
        <p>Trang hiển thị danh sách các sản phẩm, kèm ảnh</p>
        <p>Các bạn có thể chọn sp và mua hàng tại đây</p>
    </div>
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm">
        <select class="form-control product-category" name="" id="">
            <option selected disabled>Danh mục</option>
            <option>Đồ điện tử</option>
            <option>Hải sản</option>
            <option>Bánh kẹo</option>
        </select>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images2.thanhnien.vn/528068263637045248/2024/1/25/e093e9cfc9027d6a142358d24d2ee350-65a11ac2af785880-17061562929701875684912.jpg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, beatae ex.
                    Nulla aspernatur ullam voluptatem quae quas, harum, cum non eius nesciunt dolor, qui reprehenderit
                    fugit voluptatibus maiores quos doloremque.</p>
                <p class="product-warranty">Bảo hành</p>
                <p class="product-price">Giá: <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào rỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images2.thanhnien.vn/528068263637045248/2024/1/25/e093e9cfc9027d6a142358d24d2ee350-65a11ac2af785880-17061562929701875684912.jpg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, beatae ex.
                    Nulla aspernatur ullam voluptatem quae quas, harum, cum non eius nesciunt dolor, qui reprehenderit
                    fugit voluptatibus maiores quos doloremque.</p>
                <p class="product-warranty">Bảo hành</p>
                <p class="product-price">Giá: <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào rỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images2.thanhnien.vn/528068263637045248/2024/1/25/e093e9cfc9027d6a142358d24d2ee350-65a11ac2af785880-17061562929701875684912.jpg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, beatae ex.
                    Nulla aspernatur ullam voluptatem quae quas, harum, cum non eius nesciunt dolor, qui reprehenderit
                    fugit voluptatibus maiores quos doloremque.</p>
                <p class="product-warranty">Bảo hành</p>
                <p class="product-price">Giá: <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào rỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6">
            <div class="product-item">
                <img src="https://images2.thanhnien.vn/528068263637045248/2024/1/25/e093e9cfc9027d6a142358d24d2ee350-65a11ac2af785880-17061562929701875684912.jpg"
                    alt="Product Image" class="product-image">
                <h3 class="product-name">Product 1</h3>
                <p class="product-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non, beatae ex.
                    Nulla aspernatur ullam voluptatem quae quas, harum, cum non eius nesciunt dolor, qui reprehenderit
                    fugit voluptatibus maiores quos doloremque.</p>
                <p class="product-warranty">Bảo hành</p>
                <p class="product-price">Giá: <del>200$</del> 100$</p>
                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào rỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>