<app-header></app-header>
<div class="container">
    <form #registerForm = "ngForm">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form mx-auto">
                <h2 class="login-header">Đăng ký</h2>
                <div class="form-group">
                    <label for="phone">Phone</label>
                    <input type="text" name="phone" 
                    [(ngModel)]="phone" 
                    (focus) = "registerForm.form.markAsTouched()"
                    (input) = "onPhoneChange()"
                    required
                    id="email" class="form-control">
                    <div class="divider-nospace"></div>
                    <p class="text-danger" *ngIf="phone.length < 6 && registerForm.form.touched">Ít nhất 6 kí tự</p>
                </div>
                <div class="mt-3"></div>
                <div class="form-group password-field">
                    <label for="password">Mật Khẩu</label>
                    <input type="password" name="password" placeholder="Ít nhất 3 kí tự"
                    [(ngModel)]="password"
                    required 
                    class="form-control" id="password">
                    <i class="password-toggle fas fa-eye-slash"></i>
                    <div class="divider-nospace"></div>
                    <p class="text-danger" *ngIf="password.length < 3 && registerForm.form.touched">Ít nhất 3 kí tự</p>
                </div>
                <div class="mt-3"></div>
                <div class="form-group password-field">
                    <label for="retypePassword">Gõ lại mật khẩu</label>
                    <input type="password" placeholder="Ít nhất 3 kí tự"
                    [(ngModel)]="retypePassword" 
                    name="retypePassword"
                    (input) = "registerForm.form.markAsTouched(); checkPasswordsMatch()"
                    required
                    class="form-control" id="password">
                    <i class="password-toggle fas fa-eye-slash"></i>
                    <div class="divider-nospace"></div>
                    <p class="text-danger" *ngIf="retypePassword.length < 3 && registerForm.form.touched">Ít nhất 3 kí tự</p>
                    <p class="text-danger" *ngIf="registerForm.controls['retypePassword']?.hasError('passwordMissmatch') && registerForm.form.touched ">Mật khẩu không khớp</p>
                </div>
                <div class="mt-3"></div>
                <div class="form-group password-field">
                    <label for="fullName">Họ và tên</label>
                    <input type="text"
                    name="fullName"
                    [(ngModel)]="fullName" 
                    required
                    class="form-control" id="full-name">
                    <div class="divider-nospace"></div>
                </div>
                <div class="form-group password-field">
                    <label for="date-of-birth">Ngày tháng năm sinh</label>
                    <input type="date"
                    required
                    [(ngModel)]="dateOfBirth" 
                    name="dateOfBirth"
                    (input) = "registerForm.form.markAsTouched(); checkAge()"
                    class="form-control" id="dateOfBirth">
                    <div class="divider-nospace"></div>
                    <p class="text-danger" *ngIf="registerForm.controls['dateOfBirth']?.hasError('invalidAge') && registerForm.form.touched ">chua đu 18</p>
                </div>
                <div class="mt-3"></div>
                <div class="form-group password-field">
                    <label for="password">Địa chỉ</label>
                    <input type="text"
                    [(ngModel)]="address" 
                    name="address"
                    class="form-control" id="address">
                    <div class="divider-nospace"></div>
                </div>

                <div class="form-group">
                    <div class="form-check checkbox-text">
                        <span style="display: flex;">
                            <input type="checkbox" [(ngModel)]="isAccepted" class="form-check-input" name="isAccepted" id="agree">
                            <label class="form-check-label text-start">
                                Tôi đồng ý với các điều khoản điều kiện
                            </label>
                        </span>
                    </div>
                </div>
                <button type="button" (click)="register()" class="login-button">Đăng ký</button>
                <div class="divider"></div>
                <p class="text-center">Bạn đã có tài khoản? <span>
                        <a href="" class="register-link">Đăng nhập</a>
                    </span></p>

            </div>
        </div>
    </div>
</form>
</div>
<app-footer></app-footer>